.Pricing_header1 {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.Pricing_header2 {
    width: 60% ;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}